body{
     background-color: lightskyblue;
}
h1{
   color:rgb(255, 0, 0);
  }
.header{
        background-color:lightskyblue;
        display:flex;
        justify-content:space-between;
       }   
.grid{
       display:flex;
       flex-wrap:wrap;
       justify-content: space-around;
     }   
.bodyimage{
           display:flex;
           justify-content:space-evenly;
          }  
.origami{
         border:2px solid black;
         background-color:white;
         width: 310px;
         font-family:cursive;
        }     